# .gitignore for current project

### Python artifacts
*.pyc

.pytest_cache/

### Editor and IDE artifacts
*~
*.swp
*.orig
/nbproject
.idea/
.redcar/
codekit-config.json
.pycharm_helpers/
.vscode/

### NFS artifacts
.nfs*

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Internationalization artifacts
*.mo
*.po
*.prob
*.dup
!django.po
!django.mo
!djangojs.po
!djangojs.mo

### Testing artifacts
.testids/
.noseids

### Installation artifacts
*.egg-info
.pip_download_cache/
.prereqs_cache
.vagrant/
node_modules
.bundle/
bin/

### Logging artifacts
chromedriver.log
ghostdriver.log

### Celery artifacts ###
celerybeat-schedule

### Other artifacts
database.sqlite
flushdb.sh
build
/src/
\#*\#
.env/
autodeploy.properties
.ws_migrations_complete

.vscode
__pycache__
.idea

venv/
cvs
education
final_output
complete_data